#dp:hover {
    opacity: 0.7;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


#bod {
    background-color:white;
}

#dp {
    background-color: cadetblue;
    border-radius: 50%;
    margin-top: 1%;
}

#sidebar {
    background-color: cadetblue;
    padding: 1%;
    margin-left: 1%;
}

.border-below-name {
    height: 20px;
    background-color: cadetblue;
    border-radius: 3px;
}

.contact-heading {
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;
    margin-top: 20%;
    border-bottom: 1px solid white;
    font-size: 1.5vw;
    text-shadow: 0 0 1px black;
}

.skill-details {
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 1px darkcyan;
}

.contact-details {
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 1px darkcyan;
}

@media (max-width: 299.98px) { 
    .contact-details {
        font-size: 2px;
    }
    #expertise-topics {
        font-size: 2px;
    }
 }

@media (min-width: 300px) { 
    .contact-details {
        font-size: 2px;
    }
    #expertise-topics {
        font-size: 2px;
    }
 }

@media (min-width: 576px) { 
    .contact-details {
        font-size: 5px;
    }
    #expertise-topics {
        font-size: 5px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .contact-details {
        font-size: 8px;
    }
    #expertise-topics {
        font-size: 8px;
    }
}
 

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .contact-details {
        font-size: 11px;
    }
    #expertise-topics {
        font-size: 11px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .contact-details {
    font-size: 13px;
    }
    #expertise-topics {
    font-size: 13px;
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .contact-details {
        font-size: 15px;
    }
    #expertise-topics {
        font-size: 15px;
    }
}

#resume-start {
    margin-top: 20px;
    text-shadow: 0 0 1px darkcyan;
    border-bottom: 1px solid black;
    border-bottom-color: darkslategray;
}

#my-name {
    text-shadow: 0 0 1px green;
}

#exp-sidebar {
    display: flex;
    margin-top: 40%;
    margin-right: 0;
}

#expertise-topics {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 5%;
}

.comp-duration {
    margin-top: 2.5%;
    font-family: 'Roboto Mono', monospace;
    text-shadow: 0 0 1px lightcyan;
    margin-bottom: 1px;
}

#resume-block {
    display: flex;
}

.company-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 1px cyan; 
}

.exp {
    margin-left: -6%;
}

.desc {
    text-shadow: 0 0 1px aquamarine;
}

.details {
    text-shadow: 0 0 0.25px aliceblue;
}

#intro {
    font-size: 1.01vw;
}

#designation {
    text-shadow: 0 0 1px cadetblue;
}
